[user]
	name = Ismael Bueno
	email = ismaelwno@gmail.com
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[core]
	editor = code --wait
[safe]
	directory = ~/onyx/build/_deps/glm-src
	directory = ~/onyx/build/_deps/vma-src
	directory = ~/onyx/build/_deps/imgui-src
	directory = ~/onyx/build/_deps/tobjl-src
	directory = ~/onyx/build/_deps/vulkit-src
	directory = ~/onyx/build/_deps/toolkit-src
	directory = ~/onyx/build/_deps/implot-src
	directory = ~/onyx/build/_deps/glfw-src
	directory = ~/toolkit/build/_deps/yaml-cpp-src
	directory = ~/toolkit/build/_deps/catch2-src
	directory = ~/vulkit/build/_deps/vma-src
	directory = ~/vulkit/build/_deps/toolkit-src
	directory = ~/vulkit/build/_deps/catch2-src
	directory = ~/onyx/build/_deps/tracy-src
	directory = ~/onyx/build/_deps/argparse-src
