* {
  font-family: JetBrainsMonoNerdFontMono;
  font-size: 24px;
  transition-property: background-color;
  transition-duration: 0.7s;
}

window {
  background-color: rgba(40, 40, 40, 0.1);
  border-radius: 0px; /* Removed rounded corners */
}

button {
  color: #ebdbb2;
  background-color: #076678;
  border-style: solid;
  border-width: 3px;
  border-radius: 0px; /* Removed rounded corners */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 15px;
}

button:active,
button:hover {
  background-color: #458388;
}

button:focus {
  background-color: #458488;
}

#lock {
  background-image: image(url("/home/maddev/.config/wlogout/icons/lock.png"),
                         url("/home/maddev/.config/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/home/maddev/.config/wlogout/icons/logout.png"),
                          url("/home/maddev/.config/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/home/maddev/.config/wlogout/icons/suspend.png"),
                          url("/home/maddev/.config/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/home/maddev/.config/wlogout/icons/hibernate.png"),
                          url("/home/maddev/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/home/maddev/.config/wlogout/icons/shutdown.png"),
                          url("/home/maddev/.config/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/home/maddev/.config/wlogout/icons/reboot.png"),
                         url("/home/maddev/.config/wlogout/icons/reboot.png"));
}
